<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- set up database credentials/properties -->
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://database0.ch1ynyh5l2h5.us-east-2.rds.amazonaws.com:5432/postgres?currentSchema=RevatureP1
        </property>
        <property name="hibernate.connection.username">nDB0</property>
        <property name="hibernate.connection.password">mQ229*zJ</property>


        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQL81Dialect
        </property>

        <!-- optional settings -->
        <!-- helpful property for development: will console log all actions that Hibernate performs on our RDS -->
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <!-- determines how many connections that a single user is allowed to the DB-->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- please use responsibly
        <property name="hibernate.hbm2ddl.auto">create</property>-->


        <!-- not optional but must come after the property tags
        need to tell Hibernate where to find our classes for mapping-->

        <mapping class="dev.knapp.models.User"></mapping>
        <mapping class="dev.knapp.models.Event"></mapping>
        <mapping class="dev.knapp.models.Reimbursement"></mapping>
        <mapping class="dev.knapp.models.Department"></mapping>


    </session-factory>
</hibernate-configuration>
